<% erb :'layout', layout: true do %>
  <<h1>Assignment Details</h1>

  <p>Title: <%= @assignment.title %></p>
  <p>Description: <%= @assignment.description %></p>
  <p>Due Date: <%= @assignment.due_date %></p>
  <p>Max Score: <%= @assignment.max_score %></p>
  <p>Category: <%= @assignment.category %></p>
  <p>Created By: <%= @assignment.created_by %></p>
  <p>Created At: <%= @assignment.created_at %></p>
    
    

